.mainNav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    font-size: 1.0em;
    /* border: solid 2px red; */
    width: 100%;
  }
  
  .navList {
    
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    padding: 0em 0em 0em 3em;
    list-style-type: none;
  }
  
  .listItem {
    height: 100%;
    
    
  }
  
  .link {
    display: inline-block;
    height: 100%;
    padding: 0.5rem 0.5rem 0.1em 0em;
    border: 1px solid transparent;  /* Prevent element size increase on hover */
  }
  
  .link,
  .link:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .link:focus,
  .link:hover {
    /* border: 1px solid rgb(255, 255, 255); */
    text-decoration: underline;
    
  }
  
  .link:active {
    /* border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255); */
  }
  
  
  @media screen and (max-width: 1050px) {
    .mainNav {
      padding-right: 0;
      
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .mainNav {
      width: 100%;
    }
  
    .listItem {
      height: auto;  /* Ensure appropriate height if links wrap */
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .mainNav {
      flex-direction: column;  /* Stacked, full-width sub-navigations */
    }
    .navList {
      justify-content: center;
    }
  }