.header {
    /* border: solid 2px rgb(0, 255, 221); */
      display: flex;
      justify-content: center;
      padding: 0.9em;
      background-color: rgb(0, 0, 0);
      margin-bottom: 2.1em;
      flex-wrap: wrap;
      width: 100%;
    }
    .container {
  /* border: solid 1px red; */
  display: inline-flex;
  /* display: flex; */
  width: 75em;
    }
    .logoContainer {
      border: solid 2px rgb(61, 126, 0);
      
      flex-grow: 1;
      align-self: center;
      
      padding: 0em 0.5% 0.1em 1em;
      max-width: 10em;
    }
    .logoContainer2 {
      border: solid 2px cyan;
      max-width: 11em;
      max-height: 2em;
      
      
    }
    
    .logo {
      
      border: solid 2px red;
      color: rgb(255, 255, 255);
      font-size: 1.8em;
      text-decoration: none;
      justify-content: center;
      justify-self: center;
      
      
      
    }
    
    @-moz-document url-prefix() {
      .logo {
        /* red */
  /* margin: 0% 2% 5% 0%; */
  
      }
      .logoContainer1 {
        /* green */
        /* margin: 1em 2em 3em 4em; */
        /* padding: 0em 0em 2em 0em; */
      }
      .logoContainer2 {
        /* cyan */
        /* margin: 1em 2em 3em 4em; */
        padding: 0em 0em 2em 0em;
      }
    }
  
    .title {
      color: rgb(255, 255, 255);
    }
    
    @media screen and (max-width: 600px) {
      .logoContainer {
        /* Centre logo */
        flex-grow: 0;
        margin: 0 auto 0.5em auto;
      }
    }